<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarPooling"
        tools:targetApi="31">
        <activity
            android:name=".model.view.driver.show_request.ShowRequestActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.sign_up.passenger.PassengerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.sign_up.driver.DriverSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.passenger.search_route.SearchRouteActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.driver.createRoute.CreateRouteActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.driver.DriverFrontPage"
            android:exported="true" />
        <activity
            android:name=".model.view.passenger.PassengerFrontPageActivity"
            android:exported="false"
            android:label="@string/title_activity_passenger_front_page"
            android:theme="@style/Theme.CarPooling" />
        <activity
            android:name=".model.view.attribute_selection.AttributeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.front_page.AppFrontPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".model.view.log_in.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.sign_up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.subroute.subrouteActivity"
            android:exported="false" />
        <activity
            android:name=".model.view.driver.ExistedRoutes.ExistedRouteActivity"
            android:exported="true" />
        <activity
            android:name=".model.view.driver.RatingPassengers.RatingPassengers"
            android:exported="true" />
        <activity
            android:name=".model.view.passenger.ExistedSubroutes.ExistedSubrouteActivity"
            android:exported="true" />
        <activity
            android:name=".model.view.passenger.top_up.TopUpActivity"
            android:exported="true" />
        <activity
            android:name=".model.view.driver.DriverTopUp.DriverTopUp"
            android:exported="true" />
    </application>

</manifest>